.container {
    overflow: hidden;
}

.wrap-header {
    position: relative;
    top: 0px;
    z-index: 1049;
    overflow: hidden;
}

.utilityHeaderWrap {
    max-width: 1350px;
    height: 50px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.utilityHeader {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
}

.utilityLocation {
    display: flex;
    flex-wrap: wrap;
}

.utilityLocation-item {
    display: flex;
    color: #fff;
    cursor: pointer;
    height: 36px;
    border-color: transparent;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 12px 8px 8px;
    border-radius: 8px;
    margin: 0px 4px;
    font-size: 12px;
}

.utilityLocation-item:hover {
    background-color: #aa0000;
}

.utilityLocation-item i {
    padding: 2px;
}

.utilityLocation-item p {
    margin-left: 8px;
}

.utilityLink {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.utilityLink a {
    color: #fff;
    text-decoration: none;
    margin-left: 32px;
}

.utilityLink a:hover {
    text-decoration: underline;
}

.headerPrimaryWrap {
    position: fixed;
    max-width: 1350px;
    margin: 0 auto;
    z-index: 10;
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    background-color: #fff;
}

.headerPrimary {
    width: 1300px;
    margin: 0 auto;
    height: 80px;
    z-index: 10;
}

.headerPrimaryContainer {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.headerLogo {
    margin: 2px;
}

.headerCategory,
.headerDeals,
.headerNews,
.headerPD {
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    margin-left: 8px;
    padding: 0 16px;
    border: 1px solid transparent;
}

.icon-down.fa-solid.fa-chevron-down {
    font-size: 12px;
    margin-left: 8px;
    color: #fff;
}

.headerCategory:hover,
.headerDeals:hover,
.headerNews:hover,
.headerPD:hover,
.headerSignIn:hover,
.headerCart:hover {
    background: rgb(247, 247, 247);
    border-radius: 8px;
}

.headerCategory:hover .icon-down.fa-solid.fa-chevron-down,
.headerDeals:hover .icon-down.fa-solid.fa-chevron-down,
.headerNews:hover .icon-down.fa-solid.fa-chevron-down,
.headerPD:hover .icon-down.fa-solid.fa-chevron-down,
.headerSignIn:hover .icon-down.fa-solid.fa-chevron-down {
    color: #000;
}

.headerSearch {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
    -webkit-box-align: center;
    margin: 0px 24px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.inputSearch {
    display: flex;
    height: 44px;
    margin: 0px;
    padding: 14px;
    position: relative;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
}

.icon-microphone,
.icon-search {
    cursor: pointer;
    color: #888787;
    width: 28px;
    font-size: 22px;
    margin-right: 12px;
}

.headerSignIn {
    display: flex;
    margin-right: 16px;
    padding-right: 24px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    align-items: center;
}

.avatar-user {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.headerSignIn .signIn {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.headerCart {
    flex: 0 0 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cart {
    color: #000;
    font-size: 26px;
}

.category,
.deals,
.news,
.pickup-delivery {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.headerDropDown {
    position: relative;
}

.dropDownCategory {
    position: absolute;
    left: 58px;
    overflow: hidden;
    width: 320px;
    max-height: 420px;
    background-color: #fff;
    padding-left: 17px;
    padding-right: 36px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}

.dropDownCategory h3 {
    display: flex;
    align-items: center;
    font-size: 22px;
    cursor: text;
    height: 64px;
}

.dropDownCategory ul {}

.dropDownItem {
    display: flex;
    align-items: center;
    list-style: none;
    height: 44px;
    border-top: 1px solid #ccc;
    font-size: 18px;
    position: relative;
}

.dropDownItem:hover {
    text-decoration: underline;
}

.dropDownItem a {
    text-decoration: none;
    color: #333333;
}

.dropDownItem a::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dropDownDeals {
    position: absolute;
    left: 205px;
    overflow: hidden;
    width: 320px;
    max-height: 420px;
    background-color: #fff;
    padding-left: 17px;
    padding-right: 36px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}

.dropDownDeals .dropDownItem:first-child,
.dropDownNews .dropDownItem:first-child,
.dropDownPD .dropDownItem:first-child {
    border-top: none;
}

.dropDownNews {
    position: absolute;
    left: 311px;
    overflow: hidden;
    width: 320px;
    max-height: 420px;
    background-color: #fff;
    padding-left: 17px;
    padding-right: 36px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}

.dropDownPD {
    position: absolute;
    left: 456px;
    overflow: hidden;
    width: 320px;
    max-height: 420px;
    background-color: #fff;
    padding-left: 17px;
    padding-right: 36px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}


/* ============================================================================ */
.body-container {
    padding-top: 80px;
}

.bodyContainerWrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.bannerContainer,
.bannerContainer_2 {
    height: auto;
    width: 100%;
    margin-bottom: 110px;
}

.bannerContainer_2 {
    margin-bottom: 18px;
}

.bannerContainer-item {
    display: inline-block;
    height: 450px;
    position: relative;
}

.bannerContainer-item:hover .bannerTitle h2,
.bannerContainer-item:hover .bannerTitle p,
.bannerContainer-item:hover .bannerTitle button {
    text-decoration: underline;
}

.bannerImg {
    width: 1200px;
    height: 100%;
    object-fit: cover;
}

.bannerTitle {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    width: 360px;
    justify-content: center;
}

.bannerTitle h2 {
    height: 110px;
    font-size: 56px;
    line-height: 1;
    margin-bottom: 0.3em;
    width: 100%;
}

.bannerTitle p {
    line-height: 1.2;
    font-size: 24px;
    height: 55px;
    margin-bottom: 0.3em;
    width: 100%;
}

.bannerTitle button {
    margin: 16px auto;
    height: 44px;
    width: 172px;
    border-radius: 4px;
    outline: none;
    font-size: 18.75px;
    background-color: #aa0000;
    border: 1px solid #aa0000;
    color: #fff;
    cursor: pointer;
}

.bannerDetails,
.bannerDetails_2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -3px;
    background-color: #f6bd17;
    padding: 14px 32px 0 32px;
}

.bannerDetails_2 {
    background-color: #acbdd8;
}

.bannerHeading {
    display: flex;
    align-items: center;
    background-color: #acbdd8;
    justify-content: center;
    font-size: 19px;
    height: auto;
}

.bannerHeading h1 {
    margin-top: 30px;
    margin-bottom: 16px;
    color: #333333;
}

.bannerDetails-item {
    position: relative;
    max-width: 25%;
    flex: 0 0 25%;
    padding: 16px;
    text-decoration: none;
}

.bannerDetails-img-sale,
.bannerDetails-img-sale1 {
    position: absolute;
    top: 15%;
    left: 20%;
    line-height: 1;
    font-weight: bold;
}

.bannerDetails-img-sale {
    color: #cc0000;
}

.bannerDetails-img-sale1 {
    color: #000;
}

.bannerDetails-item-img img {
    width: 100%;
    object-fit: contain;
}

.bannerDetails-img-sale h2,
.bannerDetails-img-sale1 h2 {
    font-size: 50px;
}

.sp-detailFirst,
.sp-detail_2Second,
.sp-detail_2Third {
    font-size: 30px;
    position: relative;
    top: -13px;
}

.detailSecond {
    display: flex;
}

.detail_2Second,
.detail_2Third {
    color: #000;
}

.p-detailSecond,
.p-detailThird,
.p-detail_2Fisrt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.p-detailSecond span,
.p-detailThird span,
.p-detail_2Fisrt span {
    font-size: 18px;
}

.saleOff {
    display: flex;
}

.p-detailFinal {
    font-size: 18px;
}

.h2-detailFinal span {
    position: relative;
    top: -20px;
    font-size: 24px;
}

.bannerDetailsHeading {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.bannerDetailsHeading span {
    color: #000;
    font-weight: bold;
    font-size: 23px;
    line-height: 1.25;
    user-select: none;
    -webkit-user-select: none;
}

.bannerDetails-item:hover .bannerDetailsHeading span {
    text-decoration: underline;
}

.bannerSliders,
.bannerSliders_2,
.bannerSliders_3 {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    height: 312px;
    background-color: #00b398;
    overflow-x: hidden;
    padding: 8px;
}

.bannerSliders_2 {
    background-color: #e3d7ef;
}

.bannerSliderMain,
.bannerSliderMain_2 {
    width: 296px;
    height: 296px;
    flex: 0 0 25%;
    max-width: 25%;
    margin-right: 2px;
}

.bannerSliderMain {
    background-color: #bfe6f2;
}

.bannerSliderMain_2 img {
    height: 100%;
    width: 100%;
}

.bannerSliderItems {
    display: flex;
    flex: 0 0 75%;
    max-width: 75%;
    overflow-x: auto;
    overflow-y: hidden;
}

.bannerSliderItems>.bannerSliderItem {
    flex: 0 0 21%;
    max-width: 21%;
    height: 284px;
    background-color: #f7f7f7;
    margin: 0 6px 8px 6px;
    border-radius: 4px;
    animation-name: flicker;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


/* ======================== Deal =================================== */
.dealContainer {
    margin-top: 44px;
}

.dealContainer-heading,
.styleHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 36px;
    line-height: 36px;
}

.dealItems {
    display: flex;
}

.dealItem {
    width: 536px;
    height: 268px;
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
}

.dealItem:first-child {
    padding-left: 50px;
    padding-right: 16px;
}

.dealItem:last-child {
    padding-right: 50px;
    padding-left: 16px;
}

.dealItem-container {
    color: #333;
    position: absolute;
    top: 4px;
    padding-left: 36px;
}

.dealItem-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dealItem-heading {
    line-height: 1;
    font-size: 30px;
    margin-bottom: 10px;
}

.dealItem-content {
    font-size: 18px;
    line-height: 1.25;
}

.dealItem-content b {
    color: #aa0000;
    font-size: 16px;
    font-weight: bold;
}

.dealItem-content b span {
    font-size: 6px;
    font-weight: bold;
}

.dealItem-valid {
    font-size: 14px;
    line-height: 1.5;
}

/* ============================ Style ================================== */
.styleContainer {
    margin-top: 46px;
}

.styleBannerWrap {
    max-width: 1100px;
    width: 100%;
    display: flex;
    margin: 24px auto 0 auto;
}

.styleBanner {
    max-width: calc(100% / 3);
    flex: 0 0 calc(100% / 3);
    margin: 0 auto;
    text-decoration: none;
    color: #333;
}

.styleBanner:hover {
    text-decoration: underline;
}

.styleBanner:nth-child(2) {
    margin: 0 12px;
}

.styleBanner-slide {
    position: relative;
    width: 346px;
}

.styleBanner-img {
    width: 100%;
    height: 462px;
    object-fit: cover;
}

.styleBanner-sale {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.styleBanner-sale .first,
.styleBanner-sale .third {
    display: flex;
    justify-content: center;
    color: #cc0000;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 3px;
    align-items: center;
}

.styleBanner-sale .first h1 {
    line-height: 1;
    margin: 36px 0;
}

.styleBanner-sale .first span {
    font-size: 28px;
    line-height: 1;
}

.styleBanner-sale .second {
    color: #333;
    font-weight: bold;
}

.styleBanner-sale .second span {
    font-size: 23.5px;
}

.styleBanner-sale .second h1 {
    font-size: 64px;
    margin: 3px 0 32px 0;
    line-height: 1;
}

.styleBanner-sale .second h1 span {
    font-size: 34px;
    position: relative;
    top: -20px;
}

.styleBanner-sale .third {
    font-size: 26px;
    line-height: 1;
}

.styleBanner-sale .third h1 {
    margin-bottom: 37px;
}

.styleBanner-sale .third h1 span {
    position: relative;
    font-size: 28px;
    top: -15px;
}

.styleBanner-content {
    display: flex;
    width: 346px;
    margin-top: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styleBanner-content h2 {
    font-size: 22px;
    line-height: 1;
}

.styleBanner-content .first span {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 14px;
    line-height: 1.75;
}

.styleBanner-content .first span p {
    margin-left: 4px;
    color: #cc0000;
    font-weight: bold;
}

.styleBanner-content .third h2 {
    text-align: center;
    line-height: 1.3;
}

.styleBanner-content .third h2 b {
    font-size: 23px;
    color: #cc0000;
}

.styleBanner-content .third h2 b span {
    font-size: 8px;
}

/* ================================ New ==================================== */
.newContainer {
    background-color: #f0f1ea;
    width: 100%;
    max-width: 1200px;
    margin: 36px auto 0 auto;
}

.newContainerHeading {
    font-size: 36.25px;
    color: #333;
    line-height: 1;
    text-align: center;
    margin: 8px 0;
    padding-top: 25px;
}

.newContainerWrap {
    display: flex;
    justify-content: center;
    padding: 14px 32px 0 32px;
    max-width: 1200px;
    width: 100%;
}

.newContainerItemWrap {
    max-width: 50%;
    flex: 0 0 50%;
}

.newContainerItem {
    color: #333;
    text-decoration: none;
}

.newContainerItem:hover {
    text-decoration: underline;
}

.newContainerItem-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}

.newItem-img {
    width: 536px;
    height: 268px;
    object-fit: contain;
}

.newItem-content {
    position: absolute;
    left: 10%;
    top: 35%;
    font-weight: bold;
}

.newItem-content span {
    font-size: 24px;
}

.newItem-content h1 {
    display: flex;
    font-size: 62px;
    line-height: 1;
    margin-top: 4px;
}

.newItem-content h1 p {
    line-height: 1;
    font-size: 35px;
    padding-top: 6px;
}

.newContainerItem-content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
    line-height: 1;
    font-weight: normal;
}

.newContainerItem-content h3 {
    font-size: 23px;
    margin-bottom: 3px;
}

.newContainerItem-content span {
    font-size: 14px;
    color: #666;
}

.bannerSliders_3 {
    margin-top: 34px;
    background-color: #cbd3c1;
}

.bannerSliders_3 .bannerSliderMain {
    background-color: #f0f1ea;
}

/* ================================ Slide =============================== */
.slideContainer {
    width: 100%;
    height: 300px;
    max-width: 1200px;
    position: relative;
    margin-top: 34px;
}

.slideContainerWrap:hover .slideContainer-content {
    text-decoration: underline;
}

.slideContainer-img {
    width: 100%;
    height: 100%;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.slideContainer-content {
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    color: #333;
}

.slideContainer-content h1 {
    font-size: 38px;
}

.slideContainer-content span {
    font-size: 19px;
}

/* ================================ Deals Love ================================= */
.dealsLoveContainer {
    height: auto;
    margin-top: 26px;
}

.dealsLoveHeading {
    text-align: center;
    line-height: 1;
}

.dealsLoveWrap {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.dealsLoveItem {
    width: calc(100% / 3);
    flex: 0 0 calc(100% / 3);
    text-decoration: none;
    background-color: #eeeeee;
    height: 544px;
    max-width: 386px;
    box-shadow: rgb(214, 214, 214) 0 0 0 1px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.dealsLove-content {
    position: absolute;
    padding: 16px;
    line-height: 1;
}

.dealsLove-content-heading h1 {
    margin-top: 0;
    margin-bottom: 6px;
    color: #cc0000;
    font-size: 31.5px;
}

.dealsLove-content-heading h1 span {
    font-size: 18px;
    position: relative;
    top: -8px;
}

.dealsLove-content-heading-brand {
    display: flex;
    align-items: center;
}

.dealsLove-content-heading-brand i {
    font-size: 26px;
}

.dealsLove-content-desc {
    color: #333;
}

.dealsLove-content-desc span {
    font-size: 16px;
    line-height: 1.25;
}

.dealsLove-content-desc span p {
    display: inline-block;
    font-weight: bold;
    color: #cc0000;
}

.dealsLove-img {
    width: 386px;
    height: 386px;
    position: absolute;
    bottom: 0;
}

.dealsLove-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.loveThird {
    color: #cc0000;
    font-weight: bold;
}

.loveThird span {
    font-size: 21px;
}

.loveThird span h1 {
    display: flex;
    font-size: 56px;
    margin-bottom: 1px;
}

.loveThird span h1 p {
    text-align: center;
    font-size: 26px;
}

.loveDescThird span p {
    font-weight: normal;
    font-size: 12px;
    color: #333;
    margin-top: 12px;
}

.loveFourth h1 {
    font-size: 36px;
}

.loveFourth h1 span {
    top: -12px;
}

.totalDeals {
    color: #333;
    font-size: 19px;
    margin-top: 2px;
}

/* ========================== Categories ============================== */
.featureCategoriesContainer {
    margin-top: 2px;
}

.featureHeading {
    line-height: 1;
    text-align: center;
    color: #333;
}

.featureHeading h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.featureHeading a {
    font-size: 14px;
}

.featureHeading a {
    color: #333;
}

.categoriesContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.categoriesContainerItem {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
    list-style: none;
    margin-bottom: 22px;
}

.categoriesItem {
    color: #333;
    text-decoration: none;
    text-align: center;
}

.categoriesItem:hover {
    text-decoration: underline;
}

.categoriesItem-img {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    padding: 4px;
}

.categoriesItem-img img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 176px;
    max-height: 176px;
}

.categoriesItem-title {
    font-size: 14px;
}

/* ============================ Corporate =========================== */
.corporateCommitmentsContainer {
    background-color: #f7f7f7;
    width: 100%;
    max-width: 1200px;
    padding: 30px 48px 45px;
}

.corporateCommitmentsHeading {
    color: #333;
    text-align: center;
    line-height: 1;
}

.corporateCommitmentsHeading h1 {
    font-size: 36px;
    margin-top: 0;
}

.corporateCommitmentsItems {
    width: 100%;
    display: flex;
    justify-content: center;
}

.corporateItem {
    text-decoration: none;
    max-width: 50%;
    flex: 0 0 50%;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}

.corporateItem-img {
    width: 100%;
    height: 268px;
}

.corporateItem-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.corporateItem-content {
    position: absolute;
    color: #fff;
    bottom: 27px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corporateItem-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.corporateItem-content span {
    font-size: 12px;
    text-align: center;
}

/* ============================== Contact ==================================== */
.contactContainer {
    margin-top: 114px;
}

.contactWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactWrap span {
    font-size: 19px;
    color: #333;
    font-weight: bold;
    margin-right: 6px;
}

.formContact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 68px;
}

.formContact input {
    width: 210px;
    height: 44px;
    padding: 9px 8px;
    margin-right: 16px;
    border: 1px solid #888888;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    line-height: 1.45;
}

.formContact button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 44px;
    padding: 0 12px;
    background: #cc0000;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 1px solid #cc0000;
    font-weight: bold;
    border-radius: 4px;
}

.contactWrap a {
    color: #666;
    font-size: 14px;
    margin-left: 6px;
}

.introduce {
    margin-top: 58px;
    text-align: center;
}

.introduce a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
}

.introduce a:hover {
    text-decoration: underline;
}

.introduce a b {
    color: #333;
}

/* ================================== Footer ================================== */
.footer {
    max-width: 1400px;
    margin: 40px auto 0;
    background-color: #f7f7f7;
}

.footerContainer {
    padding: 24px 24px 0;
    display: flex;
    justify-content: space-between;
}

.footerItemHeading {
    margin-bottom: 8px;
}

.footerItemHeading span {
    font-weight: bold;
    line-height: 1.25;
    font-size: 16px;
}

.footerItemCategories li {
    list-style: none;
    font-size: 12px;
    padding: 8px 0;
    min-height: 32px;
}

.footerItemCategories li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.footerItemCategories li a:hover {
    text-decoration: underline;
}

.footerItemCategories li a i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 24px;
    height: 24px;
    color: #cc0000;
    margin-right: 10px;
}

.footerImg {
    text-align: center;
}

.footerSocial {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.footerSocialIcons {
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerSocialIcons i {
    height: 40px;
    width: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.footerPrivacy ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerPrivacy ul li {
    list-style: none;
    color: #fff;
    font-size: 12px;
    padding: 0 12px 0 4px;
}

.footerPrivacy ul li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.footerPrivacy ul li a:hover {
    color: #d6d6d6;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}